body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.app{
    padding: 20px;
    flex: 1 0 auto;
    /* background-color: violet; */
}
.footerr{
      flex-shrink: 0;
      height: 40px;
      /* position: fixed; */
      bottom: 0;
      /* width: 100%; */
      text-align: center;
      background-color: gray;
  }
  .bord{
    max-width: 345;
    margin: "10px";
    
  }
  .list{
   /*  background-color:brown ; 
      display: flex; */
  }
 